.buttonCont{

 width: 40px!important;
 text-align: center;
}
.botones{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding:15px;
    
}

.pButtonCount{

    padding:0px 15px;

}